*{
    margin: 0%;
    padding: 0%;
}

.header{
    text-align: center;
    
    h1{
        font-family: "Sofia", sans-serif;
        background: rgb(182,124,83);
        background: linear-gradient(4deg, rgba(182,124,83,1) 22%, rgba(158,100,62,1) 29%, rgba(124,66,32,1) 39%, rgba(168,113,16,1) 60%, rgba(161,68,31,1) 69%);
        box-shadow: 0px 1px 8px 8px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 1px 8px 8px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 1px 8px 8px rgba(0,0,0,0.75);
        color: whitesmoke;
        font-size: 4rem;
        margin: 0%;
}
    &__section{
        margin:10px;
        display: flex;
        justify-content: center;
        font-weight: bold;
    }

    hr{
        border-style: solid;
        margin-bottom: 2%;
    }
}

.main{

    &__section{
        position: relative;

        &__p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 80%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 3rem;
            color:rgb(24, 11, 11);
            font-weight: bold;
            text-align: center;


            & span{
                background-color: rgb(112, 78, 78);
                font-size: 22px;
                padding: 5px;
            }
        }

        img{
            width: 100%;
            z-index: 1;
        }
                
        &__noticias{
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: rgb(202, 143, 100);
            display: flex;
            z-index: 2;
        }
    }
}

.noticias{
    height: 9rem;
    margin-left: 2%;
    position: relative;
    z-index: 1;
    text-align: left;



    & span{
        position: absolute;
        width: 3rem;
        padding: 5px;
        margin-left: 4px;
        background-color: rgb(112, 78, 78);
        font-size: 12px;
    }



    & h2 {
        text-align: center;
    }
}